.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.recipe-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.recipe-card img {
  max-width: 500px;
  height: 400px;
  flex: 1;
}

.recipe-info {
  display: flex;
}

