.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  grid-gap: 20px;
}

.recipe-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.recipe-card img {
  max-width: 150px;
  height: auto;
  flex: 1;
}

.recipe-info {
  display: flex;
}
