.container {
  text-align: center;
  padding-bottom: 20%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 5%;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 20px 40px; 
  margin: 0 10px; 
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px; 
  position: relative; 
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #0056b3;
}

.button::after {
  content: attr(data-message);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.button:hover::after {
  opacity: 1; 
}