h1 {
  font-family: "Abril Fatface", sans-serif;
}
h2 {
  font-family: "Abril Fatface", sans-serif;
}
h3 {
  font-family: "Abril Fatface", sans-serif;
}
h4 {
  font-family: "Abril Fatface", sans-serif;
}
h5 {
  font-family: "Abril Fatface", sans-serif;
}
h6 {
  font-family: "Abril Fatface", sans-serif;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%; 
  }
}
